[Unit] 
Description=Growbe mainboard process for config %i
After=network-online.target init-config.service
StartLimitIntervalSec=0 

[Service] 
Type=simple 
Restart=always 
RestartSec=1
User=pi
WorkingDirectory=/opt/growbe
ExecStart=/opt/growbe/growbe-mainboard ./%i.json

[Install] 
WantedBy=multi-user.target
