[Unit] 
Description=Init config for growbe from boot
After=network-online.target

[Service] 
Type=simple 
WorkingDirectory=/opt/growbe
ExecStart=/bin/bash /opt/growbe/init.sh

[Install] 
WantedBy=multi-user.target
