[Unit] 
Description=Growbe mainboard process for config %i
After=network.target 
StartLimitIntervalSec=0 

[Service] 
Type=simple 
Restart=always 
RestartSec=1
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/growbe-mainboard ./%i.json

[Install] 
WantedBy=multi-user.target